*{
    margin: 0;
    padding: 0;
}


.child{
    border: 10px solid goldenrod;
    margin: 50px;
    padding: 30px;
    background-color: gray;
    width: 500px;
    height: 500px;
    overflow: auto;
}